@use '../variables'


#collaborators
    display: flex
    height: 503px
    text-align: start
    margin-top: 26px
    // background: url(./img/collaborators.jpg)

    #card-collaborators
        position: absolute
        border: 1px solid red
        height: 350px
        width: 574px
        left: 82px
        margin-top: 26px
        

        #h1
            position: absolute
            height: 60px
            width: 196px

            h1
                font-family: 'Poppins'
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 60px
                color: #000
                

        #h2
            position: absolute
            height: 48px
            width: 181px
            
            h2
                color: #000
                font-family: 'Poppins'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 24px


    button
        position: absolute
        width: 131px
        height: 48px
        background: #F71963
        border-color: #F71963
        border-radius: 10px

        font-family: 'Poppins'
        font-style: normal
        font-weight: 900
        font-size: 16px
        line-height: 24px
        text-align: center
        letter-spacing: 0.08em
        text-transform: uppercase
        color: #fff





        

    // #card-collaborators-2
    //     border: 1px solid red
    //     position: rea
    //     height: 350px
    //     width: 589px
    //     left: 761px
    //     top: 1463px