@use '../variables'

#title
        align-items: center
        display: flex
        position: absolute
        width: 1138px
        height: 72px
        left: 151px
        top: 786px


        h1  
            font-family: 'Poppins'
            font-style: normal
            font-weight: 700
            font-size: 30px
            line-height: 45px
            color: #F71963

        &::after
            gap: 2.13rem
            content: ""
            height: 0px
            width: 360px
            left: 151px
            top: 1891px
            border: 1px solid #DEDEDE

        &::before
            content: ""
            height: 0px
            width: 360px
            left: 929px
            top: 1891px
            border: 1px solid #DEDEDE     

        h2
            position: absolute
            width: 74px
            height: 23px

            font-family: 'Poppins'
            font-style: normal
            font-weight: 700
            font-size: 15px
            line-height: 22px
            text-align: center
            color: #3F3F40
